APP_NAME="N.I. Engineering Digital Platform"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.niengineeringbd.com

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=nies_production
DB_USERNAME=nies_admin
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_STORE=file
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

GITHUB_REPOSITORY="Naz365/frontend_for_Nies"
GITHUB_TOKEN=

